.selectable {
  color: #ddd;
}
.selectable.selected {
  color: #6200EE;
}

#scaleSelector tr td:first-child {
  padding-right: 2em;
}

#scale tr td {
  padding-right: 1em;
}

#fretboard .fret {
  color: #eee;
}
#fretboard .note {
  color: #fff;
}
#fretboard .note.show {
  color: #333;
}
#fretboard .note.show.root {
  color: #6200EE;
  font-weight: bold;
}
#fretboard .note.fret-marker {
  color: #eee;
  background-color: #eee;
}
#fretboard .note.fret-marker.show {
  color: #333;
}
#fretboard .note.fret-marker.show.root {
  color: #6200EE;
}

/* Nut */
#fretboard .fret.bold {
  color: #333;
}
