.selectable {
  color: #ddd;
}
.selectable.selected, .clickable.selected:hover {
  color: #6200EE;
}

.clickable:hover {
  color: #03DAC6;
}

#scaleSelector tr td:first-child {
  padding-right: 2em;
}

#scale tr td {
  padding-right: 1em;
}

#fretboard table td {
  border: none;
  text-align: center;
}

#fretboard table td.fretnumber {
  border: none;
}

#fretboard table td.note {
  border-right: 1px solid #999;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  margin: 2px;
  color: #fff;

  /* TODO: Prevents cell resizing when switching between notes with/without
  accidentals */
  min-width: 5em;
}

#fretboard table td sub.interval {
  font-size: 0.6em;
  color: #888;
}

#fretboard table td.note.fretmarker {
  background-color: #f5f5f5;
  color: #f5f5f5;
}

/* Nut */
#fretboard table td.note:first-child {
  border-right: 2px solid #999;
}

/* Last fret */
#fretboard table td.note:last-child {
  border-right: none;
}

#fretboard table td.note.root.show {
  color: #6200EE;
  font-weight: bold;
  font-size: 1.2em;
}

#fretboard table td.note.bluenote.show {
  color: #018786;
}

#fretboard table td.note.show {
  color: #333;
}
