- var STRINGS = 6;
- var FRETS = 22;

doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1')

    link(rel='stylesheet' type='text/css' href='./app.css')
    script(type='text/javascript' src='https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js')
    script(type='text/javascript' src='./tonal.min.js')
    script(type='text/javascript' src='./sprintf.js')
    script(type='text/javascript' src='./__javascript__/app.js')
  body
    pre
      #app
        h3 Scale
        #scaleSelector
          table
            tr(v-for="noteScale in ZIP_NOTES_SCALES")
              //- Notes in column 1
              td.selectable(v-if="noteScale[0]"
                  v-bind:class="{ selected: scale.root.note == noteScale[0]}"
                  v-on:click="scale.setRoot(noteScale[0]); fretboard.showScale(scale)"
              ) {{ noteScale[0] }}
              td(v-else)
              //- Scales in column 2
              td.selectable(v-if="noteScale[1]"
                  v-bind:class="{ selected: scale.scale == noteScale[1]}"
                  v-on:click="scale.setScale(noteScale[1]); fretboard.showScale(scale)"
              ) {{ noteScale[1] }}
              td(v-else)

        br
        br

        h3 Notes
        #scale
          table
            tr
              td.selectable(
                  v-for="note in scale.all_notes"
                  v-bind:class="{ selected: note.selected, }"
              ) {{ note.note }}
            tr
              td.selectable(
                  v-for="note in scale.all_notes"
                  v-bind:class="{ selected: note.selected, }"
              ) {{ note.intervalToTonic }}

        br
        br

        //- TODO: convert to table and vue iteration
        h3 Fretboard viz
        #fretboard
          table
            //- TODO fret number indicators
            tr
              td.fretnumber(v-for="fret in fretboard.frets[0]")
                span(v-if="FRET_MARKERS.includes(fret.fretNumber)") {{ fret.fretNumber }}
            tr(v-for="string in fretboard.frets")
              td.note(
                  v-for="fret in string"
                  v-bind:class="{" +
                      "show: fret.note.selected, " +
                      "root: fret.note.intervalToTonic == '1P', " +
                      "bluenote: fret.note.intervalToTonic == '4A', " +
                      "fretmarker: fret.marker," +
                      "}"
              )
                | {{ fret.note.note }}
                sup.interval  {{ fret.note.intervalToTonic }}
