//- TODO: Instead of using Pug's iteration, use Vue's iteration instead.
- var NOTES = ['A', 'A#', 'B', 'C', 'C#', 'D', 'D#', 'E', 'F', 'F#', 'G', 'G#'];
- var SCALES = ['ionian', 'dorian', 'phrygian', 'lydian', 'mixolydian', 'aeolian', 'locrian', 'blues', 'major pentatonic', 'minor pentatonic', 'harmonic minor', 'melodic minor']
- var STRINGS = 6;
- var FRETS = 22;

doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1')

    link(rel='stylesheet' type='text/css' href='./app.css')
    script(type='text/javascript' src='https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js')
    script(type='text/javascript' src='./tonal.min.js')
    script(type='text/javascript' src='./sprintf.js')
    script(type='text/javascript' src='./__javascript__/app.js')
  body
    pre
      #app
        h3 Scale
        #scaleSelector
          table
            - var i = 0;
            while i < SCALES.length
              tr
                if i < NOTES.length
                  td.selectable(
                      v-bind:class="{ selected: scale.root.note == '" + NOTES[i] + "'}"
                      v-on:click="scale.setRoot('" + NOTES[i] + "'); fretboard.showScale(scale)"
                  )= NOTES[i]
                else
                  td
                td.selectable(
                    v-bind:class="{ selected: scale.scale == '" + SCALES[i] + "'}"
                    v-on:click="scale.setScale('" + SCALES[i] + "'); fretboard.showScale(scale)"
                )= SCALES[i]
              - i++;


        br
        br

        h3 Notes
        #scale
          table
            tr
              //- Vue iterates scale.all_notes
              - var i = 0;
              while i < 12
                td.selectable(
                    v-bind:class="{ selected: scale.all_notes[" + i + "].selected }"
                ) {{ scale.all_notes[#{i}].note }}
                - i++;
            tr
              - var i = 0;
              while i < 12
                td.selectable(
                    v-bind:class="{ selected: scale.all_notes[" + i + "].selected }"
                ) {{ scale.all_notes[#{i}].intervalToTonic }}
                - i++;

        br
        br

        h3 Fretboard viz
        #fretboard
          span#fret-indicator   -                        3              5               7              9                      12                     15             17             19
          br
          - var string = 0;
          while string < STRINGS
            div.string
              - var fret = 0;
              while fret < FRETS
                span.note(v-bind:class="{ " +
                    "show: fretboard.frets[" + string + "][" + fret + "].note.selected, " +
                    "root: fretboard.frets[" + string + "][" + fret + "].note.intervalToTonic == '1P', " +
                    "fretmarker: fretboard.frets[" + string + "][" + fret + "].marker, " +
                    "}"
                ) {{ fretboard.frets[#{string}][#{fret}].fretStr }}
                if fret == 0
                  span.fret.bold ｜｜
                else
                  span.fret ｜
                - fret++;
            - string++;
