- var NOTES = ['A', 'A#', 'B', 'C', 'C#', 'D', 'D#', 'E', 'F', 'F#', 'G', 'G#'];
- var SCALES = ['ionian', 'dorian', 'phrygian', 'lydian', 'mixolydian', 'aeolian', 'locrian', 'blues', 'major pentatonic', 'minor pentatonic', 'harmonic minor', 'melodic minor']
- var STRINGS = 6;
- var FRETS = 22;
- var FRET_MARKERS = [0, 3, 5, 7, 9, 12, 15, 17, 19];

doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1')

    link(rel='stylesheet' type='text/css' href='./app.css')
    script(type='text/javascript' src='https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js')
    script(type='text/javascript' src='./tonal.min.js')
    script(type='text/javascript' src='./sprintf.js')
    script(type='text/javascript' src='./__javascript__/app.js')
  body
    pre
      #app
        h3 Scale
        #scaleSelector
          table
            - var i = 0;
            while i < SCALES.length
              tr
                if i < NOTES.length
                  td.selectable(
                      v-bind:class="{ selected: scale.selectedRoot == '" + NOTES[i] + "'}"
                      v-on:click="scale.selectRoot('" + NOTES[i] + "'); fretboard.showScale(scale)"
                  )= NOTES[i]
                else
                  td
                td.selectable(
                    v-bind:class="{ selected: scale.selectedType == '" + SCALES[i] + "'}"
                    v-on:click="scale.selectType('" + SCALES[i] + "'); fretboard.showScale(scale)"
                )= SCALES[i]
              - i++


        br
        br

        h3 Notes
        #scale
          table
            tr
              each val in NOTES
                td.selectable(
                    v-bind:class="{ selected: scale.notes.includes('" + val + "') }")= val
            tr
            - var i = 0
            while i < 12
              td.selectable(
                  v-bind:class="{ selected: scale.intervals[" + i + "].isSelected }"
              ) {{ scale.intervals[#{i}].intervalName }}
              - i++

        br
        br

        h3 Fretboard viz
        #fretboard
          span#fret-indicator   -                        3              5               7              9                      12                     15             17             19
          br
          - var string = 0;
          while string < STRINGS
            div.string
              - var fret = 0;
              while fret < FRETS
                //- For some reason .includes does not work. Probably has to do with JS version.
                - var class_marker = FRET_MARKERS.indexOf(fret) != -1 ? 'fret-marker' : '';
                span.note(
                    class=`${class_marker}`
                    v-bind:class="{ show: fretboard.fb[" + string + "][" + fret + "].show, root: fretboard.fb[" + string + "][" + fret + "].isRoot }"
                ) {{ fretboard.fb[#{string}][#{fret}].displayStr }}
                if fret == 0
                  span.fret.bold ｜｜
                else
                  span.fret ｜
                - fret++
            - string++
