@font-face {
  font-family: 'LCD Solid';
  src: url('../fonts/LCD_Solid.ttf') format('truetype');
}

body {
  font-family: monospace;
  font-size: 15px;
  padding: 2em;
}

/* Basically means the element can be `selected` (enabled/highlighted) or
not. */
.selectable {
  color: #ddd;
}
.selectable.selected, .clickable.selected:hover {
  color: #6200EE;
}

/* Rename to something else. We have highlight 1 for scale, and 2 for chord */
.selectable.alternate.selected, .clickable.alternate.selected:hover {
  color: #03DAC6;
}

/* Elements that have hover/click bindings. */
.clickable:hover {
  color: #999;
  cursor: pointer;
  text-decoration: underline;
}

#selector table td {
  padding-left: 1em;
  padding-right: 1em;
  white-space: nowrap;
}

#notes td, #scaleChords td {
  padding-right: 1em;
  text-align: center;
}

#fretboard table {
  border-spacing: 0px 3px;
  table-layout: fixed;
}

#fretboard table.guitar {
  width: 1600px;
}

#fretboard table.ukulele {
  width: 900px;
}

#fretboard table td {
  border: none;
  text-align: center;
  white-space: nowrap;
}

#fretboard table td.fretnumber {
  border: none;
}

#fretboard table td.note {
  border-right: 1px solid #999;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  margin: 2px;
  color: #fff;
}

#fretboard table td sub.interval {
  font-size: 0.6em;
  color: #888;
}

#fretboard table td.note.fretmarker {
  background-color: #f5f5f5;
  color: #f5f5f5;
}

/* Nut */
#fretboard table td.note:first-child {
  border-right: 3px solid #999;
}

/* Last fret */
#fretboard table td.note:last-child {
  border-right: none;
}

#fretboard table td.note.root.show {
  color: #6200EE;
  font-weight: bold;
}

#fretboard table td.note.bluenote.show {
  color: #018786;
}

#fretboard table td.note.show {
  color: #333;
}

#quicklist {
  position: fixed;
  right: 1em;
  bottom: 1em;
  background-color: #0000000a;
}

#quicklist ul {
  list-style-type: none;
}

.right {
  text-align: right;
}

span.spacing:before {
  content: "\00a0 \00a0 ";
}

.Keyboard {
  width: 100%;
  height: 100%;
  position: relative;
}

#Content {
  width: 100%;
  height: 120px;
}
