@font-face {
  font-family: 'LCD Solid';
  src: url('../fonts/LCD_Solid.ttf') format('truetype');
}

body {
  font-family: 'LCD Solid';
  padding: 2em;
}

.selectable {
  color: #ddd;
}
.selectable.selected, .clickable.selected:hover {
  color: #6200EE;
}

.clickable:hover {
  color: #03DAC6;
}

#selector table td {
  padding-left: 1em;
  padding-right: 1em;
  white-space: nowrap;
}

#scale td, #scaleChords td {
  padding-right: 1em;
  text-align: center;
}

#fretboard table {
  border-spacing: 0px 3px;
  table-layout: fixed;
  width: 1600px;
}

#fretboard table td {
  border: none;
  text-align: center;
  white-space: nowrap;
}

#fretboard table td.fretnumber {
  border: none;
}

#fretboard table td.note {
  border-right: 1px solid #999;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  margin: 2px;
  color: #fff;
}

#fretboard table td sub.interval {
  font-size: 0.6em;
  color: #888;
}

#fretboard table td.note.fretmarker {
  background-color: #f5f5f5;
  color: #f5f5f5;
}

/* Nut */
#fretboard table td.note:first-child {
  border-right: 2px solid #999;
}

/* Last fret */
#fretboard table td.note:last-child {
  border-right: none;
}

#fretboard table td.note.root.show {
  color: #6200EE;
  font-weight: bold;
}

#fretboard table td.note.bluenote.show {
  color: #018786;
}

#fretboard table td.note.show {
  color: #333;
}
